.infoWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  cursor: pointer;
  .icon {
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 29px -5px rgba(0, 0, 0, 0.14);
  }
  .text {
    width: 70%;
    p {
      margin: 0;
    }
    p:first-child {
      color: #240d57;
      font-weight: 700;
    }
    p:nth-child(2) {
      color: #4f4f4f;
      font-size: 12px;
      font-weight: 500;
    }
  }
}
